// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_table{
  position: absolute;
  top: 105px;
  left: 421px;
}

.left_side_panel{
  margin-left: 43px;
}
.select_boxes{
  padding: 5px;
}

.competency_li{
  margin-left: -29px;
}