<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resumes.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @resumes.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resumes.email %>
</p>

